.floating-button {
    float: right;
    margin-right: 40px;
    cursor: pointer;
    padding: 10px;
    border-radius: 100%;
    line-height: 1;
    box-shadow: 2px 2px 5px 0px black;
    transition: background-color .5s;
}

    .floating-button:hover {
        background-color: #8d30c4 !important;
        transition: background-color .5s;
    }
