@using ClipShare.Shared.Models
@inject IClipboardService ClipboardService
@inject IToastService ToastService
@inject IClipStore ClipStore
@inject ILogger<AddClipButton> Logger

<div class="floating-button bg-primary text-white" title="Add Clip" @onclick="AddClip">
    <i class="oi oi-plus"></i>
</div>



@code {

    [Parameter]
    public EventCallback<Clip> OnClipAdded { get; set; }

    public async Task AddClip()
    {
        try
        {
            var currentContent = await ClipboardService.GetClipboardText();
            if (string.IsNullOrWhiteSpace(currentContent))
            {
                ToastService.ShowToast("Clipboard is empty.", TimeSpan.FromSeconds(3), "bg-warning");
                return;
            }
            if (currentContent.Length > Clip.MaxContentLength)
            {
                ToastService.ShowToast("Clipboard is too large.", TimeSpan.FromSeconds(3), "bg-warning");
                return;
            }

            var resultClip = await ClipStore.CreateClip(currentContent);
            if (resultClip is not null)
            {
                await OnClipAdded.InvokeAsync(resultClip);
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error while getting clipboard text.");
            ToastService.ShowToast("Failed to get clipboard content.", "bg-danger");
        }
    }
} 