<div class="card border-secondary m-3" style="width: 20rem;">
    <div class="card-header small">@Timestamp.ToLocalTime()</div>
    <div class="card-body">
        <p class="card-text">@Body</p>
    </div>
</div>

@code {
    [Parameter]
    public DateTimeOffset Timestamp { get; set; }

    [Parameter]
    public string Body { get; set; }

}
