@page "/"
@using Microsoft.Extensions.Logging
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject Microsoft.Extensions.Logging.ILogger<Index> Logger

<h1>Hello, world!</h1>

Welcome to your new app.


@code {

    [CascadingParameter]
    private Task<AuthenticationState> AuthStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();

            var user = (await AuthStateTask).User;

            if (user.Identity.IsAuthenticated)
            {
                NavigationManager.NavigateTo("recent");
            }

        }
        catch (Exception ex)
        {
            Logger.LogError(ex, ex.Message);
        }
    }
}