@page "/"
@using Microsoft.Extensions.Logging
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject Microsoft.Extensions.Logging.ILogger<Index> Logger

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();

            var state = await AuthStateProvider.GetAuthenticationStateAsync();
            if (state.User.Identity.IsAuthenticated)
            {
                NavigationManager.NavigateTo("recent");
            }

        }
        catch (Exception ex)
        {
            Logger.LogError(ex, ex.Message);
        }
    }
}