@page "/"
@using Microsoft.Extensions.Logging
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject Microsoft.Extensions.Logging.ILogger<Index> Logger

<div class="text-center mt-5" style="margin-bottom:150px">
    <h1>
        ClipShare
    </h1>
    <div class="lead">
        Share your clipboard across devices.
    </div>
    <div class="mt-5">
        <div>
            <a href="/Identity/Account/Login" class="btn btn-primary btn-lg">
                Login
            </a>
        </div>

        <div class="mt-3">
            <a href="/Identity/Account/Register" class="btn btn-secondary btn-lg">
                Register
            </a>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthStateTask { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();

            var user = (await AuthStateTask).User;

            if (user.Identity?.IsAuthenticated == true)
            {
                NavigationManager.NavigateTo("recent");
            }

        }
        catch (Exception ex)
        {
            Logger.LogError(ex, ex.Message);
        }
    }
}