@page "/recent"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ClipShare.Client.Components
@using ClipShare.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<h2>Recent Clips</h2>

<AddClipButton></AddClipButton>

@if (clips == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex">
    @foreach (var clip in clips)
        {
            <ClipCard Header="@GetHeader(clip)" Timestamp="clip.Timestamp" Body="clip.Contents"></ClipCard>
        }
    </div>

}

@code {
    private Clip[] clips;

    public string GetHeader(Clip clip)
    {
        if (clip.Contents.Length <= 10)
        {
            return clip.Contents;
        }

        return new string(clip.Contents.Take(10).ToArray()) + "...";
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            clips = await Http.GetFromJsonAsync<Clip[]>("Clips");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
