@page "/recent"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ClipShare.Client.Components
@using ClipShare.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<h2>Recent Clips</h2>

<AddClipButton></AddClipButton>

@if (clips == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="row mt-4">
    @if (clips.Length > 0)
    {
        foreach (var clip in clips)
        {
            <ClipCard Timestamp="@clip.Timestamp" Body="@clip.Contents"></ClipCard>
        }
    }
    else
    {
        <ClipCard Timestamp="DateTimeOffset.Now" Body="Click the Add button to start saving clips."></ClipCard>
    }

</div>

}

@code {
    private Clip[] clips;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            clips = await Http.GetFromJsonAsync<Clip[]>("Clips");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
