@page "/recent"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http

<h2>Recent Clips</h2>

<AddClipButton OnClipAdded="ClipAdded"></AddClipButton>

@if (!dataLoaded)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="mt-4">
        @if (Clips.Any(x => x.ArchiveFolder == null))
        {
            foreach (var group in Clips
                .Where(x => x.ArchiveFolder == null)
                .OrderByDescending(x => x.Timestamp)
                .GroupBy(x => x.Timestamp.Date))
            {
                <div class="lead mt-4">@group.Key.ToShortDateString()</div>
                <div class="row">
                    @foreach (var clip in group)
                    {
                        <ClipCard ClipData="clip" ArchiveFolders="ArchiveFolders" OnClipDeleted="ClipDeleted" OnClipChanged="ClipChanged"></ClipCard>
                    }
                </div>
            }
        }
        else
        {
            <ClipCard ClipData="DemoClip"></ClipCard>
        }

    </div>

}

@code {
    bool dataLoaded;

    private List<ArchiveFolder> ArchiveFolders { get; } = new List<ArchiveFolder>();

    private List<Clip> Clips { get; } = new List<Clip>();

    private Clip DemoClip
    {
        get
        {
            return new Clip()
            {
                Timestamp = DateTimeOffset.Now,
                Content = "Click the Add button to start saving clips."
            };
        }
    }

    private void ClipAdded(Clip clip)
    {
        Clips.Add(clip);
    }

    private void ClipChanged(Clip clipData)
    {
        var index = Clips.FindIndex(x => x.Id == clipData.Id);
        if (index > -1)
        {
            Clips[index] = clipData;
            StateHasChanged();
        }
    }

    private void ClipDeleted(Clip clipData)
    {
        Clips.RemoveAll(x => x.Id == clipData.Id);
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var clips = await Http.GetFromJsonAsync<Clip[]>("Clips");
            if (clips?.Any() == true)
            {
                Clips.AddRange(clips);
            }

            var folders = await Http.GetFromJsonAsync<List<ArchiveFolder>>("Archives");
            if (folders?.Any() == true)
            {
                ArchiveFolders.AddRange(folders);
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        finally
        {
            dataLoaded = true;
        }
    }

}
