@inherits LayoutComponentBase
@using ClipShare.Client.Components 

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>

    <ToastHarness></ToastHarness>
</div>
